<ul id="gall_ul" class="gall_row">
    <li class="gall_li col-gn-3" data-aos="fade-up" data-aos-duration="500"><a href="https://c21hanil.cafe24.com/board/notice_ko/11">
        <div class="gall_box">
            <div class="gall_chk chk_box">
                <span class="sound_only">3</span>
            </div>
            <div class="gall_con">
                <div class="gall_text_href">
                    <div class="icon_notice">NOTICE</div>
                        <p class="bo_tit">공지</p>
                     <span class="bo_cnt">ㅇㅇㅇ</span>
                </div>
                <div class="gall_img" style="height:240px;max-height:240px">
                    <span class="no_image" style="line-height:240px">no image</span>
                </div>
            </div>
        </div>
    </li>
</ul>