@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* font-family: 'Titillium Web', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{padding: 0; margin: 0;}
body{font-size: 12px; line-height: 18px; font-family: 'Noto Sans KR', sans-serif;}
img{border: none; vertical-align: top;}
a{text-decoration: none; color: #111; cursor: pointer;}
ul,ol{list-style: none;}
address{font-style: normal;}

/*공간값 인식을 변경함(가로x세로값 안에 padding/border 포함*/
h1,h2,h3,h4,h5,h6,div,p,ul,li,ol,dl,dt,dd{box-sizing: border-box;}

.cf{}
.cf:after{content: ""; display: block; clear: both;}